/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v22-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html {
    box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}     

    /*header styles start*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.header__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}
body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: black;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-left: 82px;
}
.header__item:last-child {
    margin-right: 0px;
}
.header__link:hover, .header__link:focus, .header_link:active{
    opacity: 80%;
}

    /*header styles end*/

    /*intro styles start*/

.intro {
    min-height: 100vh;
    background: url('../img/intro-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 263px; 
}
.intro__title {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    width: 619px;
    margin-bottom: 22px;
}
.intro__subbt {
    color: #fff;
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url('../img/Oval.svg') no-repeat left top;
    background-size: 20px;
    background-position: left 5.5px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background: #1B7DFF;
    border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #1a58ab;
}

    /*intro styles end*/

    /* benefits style start */

.benefits__wrap {
    max-width: 1262px;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
}

.benefits__card-pic {
    padding-left: 100px;
}


    /* benefits style end */